<a href="https://colab.research.google.com/github/Harishacoursera/Play-Store-Analysis-EDA-AlmaBetter/blob/main/Play_Store_App_Review_Analysis_Capstone_Project_Harisha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<b> Play Store App Review Analysis(EDA)
The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market.

Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.

Explore and analyze the data to discover key factors responsible for app engagement and success.


#<b> Import libraries/packages

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
!pip install matplotlib-venn

Requirement already satisfied: matplotlib-venn in /usr/local/lib/python3.7/dist-packages (0.11.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from matplotlib-venn) (1.19.5)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (1.3.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->matplotlib-venn) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib->matplotlib-venn) (1.15.0)

In [3]:
!apt-get -qq install -y graphviz && pip install pydot
import pydot

Requirement already satisfied: pydot in /usr/local/lib/python3.7/dist-packages (1.3.0)
Requirement already satisfied: pyparsing>=2.1.4 in /usr/local/lib/python3.7/dist-packages (from pydot) (2.4.7)

In [4]:
!pip install cartopy
import cartopy

Collecting cartopy
  Downloading Cartopy-0.19.0.post1.tar.gz (12.1 MB)
     |████████████████████████████████| 12.1 MB 154 kB/s
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
    Preparing wheel metadata ... done
Requirement already satisfied: shapely>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from cartopy) (1.7.1)
Collecting pyshp>=2
  Downloading pyshp-2.1.3.tar.gz (219 kB)
     |████████████████████████████████| 219 kB 55.4 MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from cartopy) (1.19.5)
Building wheels for collected packages: cartopy, pyshp
  Building wheel for cartopy (PEP 517) ... done
  Created wheel for cartopy: filename=Cartopy-0.19.0.post1-cp37-cp37m-linux_x86_64.whl size=12516236 sha256=94b505803a7629fffec9497be9f50ebaee4701c4316ff2e3dba42d7d8c883f66
  Stored in directory: /root/.cache/pip/wheels/98/01/f7/bd10aeb96fe4b518cde5f7c4f5e12c7202f85b7353a5017847
  Building wheel for pyshp (setup.py) ... done
  Created wheel for pyshp: filename=pyshp-2.1.3-py3-none-any.whl size=37324 sha256=c2c1e4523c4ce15979d56110cc67d59326d8951a007ab08ccca47ea6cdc242df
  Stored in directory: /root/.cache/pip/wheels/43/f8/87/53c8cd41545ba20e536ea29a8fcb5431b5f477ca50d5dffbbe
Successfully built cartopy pyshp
Installing collected packages: pyshp, cartopy
Successfully installed cartopy-0.19.0.post1 pyshp-2.1.3

In [ ]:
!pip install jovian opendatasets --upgrade --quiet

     |████████████████████████████████| 68 kB 4.5 MB/s
  Building wheel for uuid (setup.py) ... done

In [4]:
#import library
import pandas as pd # data processing
import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
%matplotlib inline
sns.set(style="whitegrid", font_scale=1.75)
plt.rcParams['figure.figsize'] = [20.0, 5.0] # preetify plots\n
from scipy.stats import norm
from sklearn.preprocessing import StandardScaler
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

#<b> Loading Datasets

In [5]:
#read to Plays store csv files
apps_df = pd.read_csv('/content/drive/MyDrive/PROJECT/Play Store Data.csv')
reviews_df = pd.read_csv('/content/drive/MyDrive/PROJECT/User Reviews.csv')

In [7]:
#Understandind data sets
apps_df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [8]:
apps_df.tail()

                                                 App  ...         Android Ver
10836                               Sya9a Maroc - FR  ...          4.1 and up
10837               Fr. Mike Schmitz Audio Teachings  ...          4.1 and up
10838                         Parkinson Exercices FR  ...          2.2 and up
10839                  The SCP Foundation DB fr nn5n  ...  Varies with device
10840  iHoroscope - 2018 Daily Horoscope & Astrology  ...  Varies with device

[5 rows x 13 columns]

In [9]:
apps_df.describe()#Descriptive statistics

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [10]:
apps_df.shape

(10841, 13)

In [12]:
apps_df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [14]:
apps_df.nunique()#to understand unique values

App               9660
Category            34
Rating              40
Reviews           6002
Size               462
Installs            22
Type                 3
Price               93
Content Rating       6
Genres             120
Last Updated      1378
Current Ver       2832
Android Ver         33
dtype: int64

In [17]:
apps_df['App'].unique()

array(['Photo Editor & Candy Camera & Grid & ScrapBook',
       'Coloring book moana',
       'U Launcher Lite – FREE Live Cool Themes, Hide Apps', ...,
       'Parkinson Exercices FR', 'The SCP Foundation DB fr nn5n',
       'iHoroscope - 2018 Daily Horoscope & Astrology'], dtype=object)

#<B> Cleaning Data
#####<B>1)Removing extraneous data.
#####<B>2)Filling in missing values.
#####<B>3)Conforming data to a standardized pattern.

In [19]:
apps_df.info()#Check for missing values.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [23]:
apps_df.isnull()

         App  Category  Rating  ...  Last Updated  Current Ver  Android Ver
0      False     False   False  ...         False        False        False
1      False     False   False  ...         False        False        False
2      False     False   False  ...         False        False        False
3      False     False   False  ...         False        False        False
4      False     False   False  ...         False        False        False
...      ...       ...     ...  ...           ...          ...          ...
10836  False     False   False  ...         False        False        False
10837  False     False   False  ...         False        False        False
10838  False     False    True  ...         False        False        False
10839  False     False   False  ...         False        False        False
10840  False     False   False  ...         False        False        False

[10840 rows x 13 columns]

In [24]:
apps_df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [21]:
# Row 10472 removed due to missing value of Category
apps_df.drop(apps_df.index[10472], inplace=True)

In [22]:
app_df['Installs'] = apps_df['Installs'].map(lambda x: x.rstrip('+'))

NameError: ignored

#<b>ASSUMPTIONS

###<b> Assumption 1: Apps with Ratings 1 to 2.5 would have more negative sentiment reviews.

In [ ]:
apps_rated_0_to_2_5_filter = (apps_df.Rating >= 0) & (apps_df.Rating < 2.5)
selected_columns = ['App', 'Rating', 'Reviews']
apps_rated_0_to_2_5_df = apps_df[apps_rated_0_to_2_5_filter][selected_columns]
apps_rated_0_to_2_5_df

                                                    App  Rating Reviews
518                       Just She - Top Lesbian Dating     1.9     953
554                       Just She - Top Lesbian Dating     1.9     953
625                             House party - live chat     1.0       1
663                       Just She - Top Lesbian Dating     1.9     954
2403       5 Minute Veterinary Consult: Canine & Feline     2.3      17
...                                                 ...     ...     ...
10424                        First Hawaiian Bank Mobile     2.1     232
10458                                   Candy simply-Fi     2.1    2390
10562                                       FK Atlantas     1.5       2
10578                   Check Lottery Tickets - Florida     2.0      27
10591  Lottery Ticket Checker - Florida Results & Lotto     1.0       3

[129 rows x 3 columns]

In [ ]:
selected_columns = ['App', 'Translated_Review','Sentiment','Sentiment_Polarity','Sentiment_Subjectivity']
reviews_df[selected_columns]

                               App  ... Sentiment_Subjectivity
0            10 Best Foods for You  ...               0.533333
1            10 Best Foods for You  ...               0.288462
2            10 Best Foods for You  ...                    NaN
3            10 Best Foods for You  ...               0.875000
4            10 Best Foods for You  ...               0.300000
...                            ...  ...                    ...
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[64295 rows x 5 columns]

In [ ]:
reviews_rated_0_to_2_5_df = apps_rated_0_to_2_5_df.merge(reviews_df[selected_columns], on='App')
reviews_rated_0_to_2_5_df

Empty DataFrame
Columns: [App, Rating, Reviews, Translated_Review, Sentiment, Sentiment_Polarity, Sentiment_Subjectivity]
Index: []

Hence, could not find any reviews for apps rated in the user reviews dataset. Apps that have ratings between 0 to 2.5, no (zero) Apps have reviews in the user reviews dataset, just a rating. Although we were expecting most of them to have Negative review sentiment (and maybe some Neutral ones) but now it's hard to tell if no review has been left for the reason they were unhappy with the App or did they not get translated (or it's a data issue).

##<b> Assumption 2: 
Apps with Ratings 2.5 to 3.5 would have more neutral sentiment Reviews

In [ ]:
apps_rated_2_5_to_3_5_filter = (apps_df.Rating >= 2.5) & (apps_df.Rating < 3.5)
selected_columns = ['App', 'Rating', 'Reviews']
apps_rated_2_5_to_3_5_df = apps_df[apps_rated_2_5_to_3_5_filter][selected_columns]
apps_rated_2_5_to_3_5_df

                                   App  Rating Reviews
15     Learn To Draw Kawaii Characters     3.2      55
87       RST - Sale of cars on the PCT     3.2     250
159                     Cloud of Books     3.3    1862
176                   Free Book Reader     3.4    1680
209                    Plugin:AOT v5.0     3.1    4034
...                                ...     ...     ...
10757     Fisher-Price® Smart Connect™     2.7     422
10765  Chat For Strangers - Video Chat     3.4     622
10766           FreedomPop Diagnostics     2.9     452
10819                        Fanfic-FR     3.3      52
10828          Manga-FR - Anime Vostfr     3.4     291

[604 rows x 3 columns]

In [ ]:
selected_columns = ['App', 'Translated_Review','Sentiment','Sentiment_Polarity','Sentiment_Subjectivity']
reviews_df[selected_columns]

                               App  ... Sentiment_Subjectivity
0            10 Best Foods for You  ...               0.533333
1            10 Best Foods for You  ...               0.288462
2            10 Best Foods for You  ...                    NaN
3            10 Best Foods for You  ...               0.875000
4            10 Best Foods for You  ...               0.300000
...                            ...  ...                    ...
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[64295 rows x 5 columns]

In [ ]:
reviews_rated_2_5_to_3_5_df = apps_rated_2_5_to_3_5_df.merge(reviews_df[selected_columns],on='App')
reviews_rated_2_5_to_3_5_df

                   App  Rating  ... Sentiment_Polarity Sentiment_Subjectivity
0     Free Book Reader     3.4  ...                NaN                    NaN
1     Free Book Reader     3.4  ...                NaN                    NaN
2     Free Book Reader     3.4  ...                NaN                    NaN
3     Free Book Reader     3.4  ...                NaN                    NaN
4     Free Book Reader     3.4  ...                NaN                    NaN
...                ...     ...  ...                ...                    ...
1675   Draw A Stickman     3.4  ...                NaN                    NaN
1676   Draw A Stickman     3.4  ...                NaN                    NaN
1677   Draw A Stickman     3.4  ...                NaN                    NaN
1678   Draw A Stickman     3.4  ...                NaN                    NaN
1679   Draw A Stickman     3.4  ...                NaN                    NaN

[1680 rows x 7 columns]