<a href="https://colab.research.google.com/github/Harishacoursera/testrepo/blob/main/Play_Store_App_Review_Analysis_Capstone_Project_Harisha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<b> The Play Store apps data has enormous potential to drive app-making businesses to success. Actionable insights can be drawn for developers to work on and capture the Android market.

#<b> Each app (row) has values for catergory, rating, size, and more. Another dataset contains customer reviews of the android apps.

#<b> Explore and analyze the data to discover key factors responsible for app engagement and success.

In [ ]:
#import library
import pandas as pd # data processing
import numpy as np # linear algebra
import matplotlib.pyplot as plt
import seaborn as sns  # visualization tool
%matplotlib inline

In [ ]:
#read to csv files
csv_file_list = ["/content/drive/MyDrive/PROJECT/Play Store Data.csv", "/content/drive/MyDrive/PROJECT/User Reviews.csv"]

list_of_dataframes = []
for filename in csv_file_list:
    list_of_dataframes.append(pd.read_csv(csv_file_list))

merged_df = pd.concat(list_of_dataframes)

print('merged_df')

ValueError: ignored

In [ ]:
merged_df.info()

NameError: ignored

In [ ]:
merged_df.columns

NameError: ignored

In [ ]:
merged_df.shape

(75136, 17)

In [ ]:
merged_df.head()#inspecting the first 5 rows

                                                 App  ... Sentiment_Subjectivity
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...                    NaN
1                                Coloring book moana  ...                    NaN
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...                    NaN
3                              Sketch - Draw & Paint  ...                    NaN
4              Pixel Draw - Number Art Coloring Book  ...                    NaN

[5 rows x 17 columns]

In [ ]:
merged_df.tail()

                               App  ... Sentiment_Subjectivity
64290  Houzz Interior Design Ideas  ...                    NaN
64291  Houzz Interior Design Ideas  ...                    NaN
64292  Houzz Interior Design Ideas  ...                    NaN
64293  Houzz Interior Design Ideas  ...                    NaN
64294  Houzz Interior Design Ideas  ...                    NaN

[5 rows x 17 columns]

In [ ]:
data1 = merged_df.head()
data2 = merged_df.tail()
concat_data = pd.concat([data1,data2],axis=0,ignore_index=True)
concat_data

                                                 App  ... Sentiment_Subjectivity
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...                    NaN
1                                Coloring book moana  ...                    NaN
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...                    NaN
3                              Sketch - Draw & Paint  ...                    NaN
4              Pixel Draw - Number Art Coloring Book  ...                    NaN
5                        Houzz Interior Design Ideas  ...                    NaN
6                        Houzz Interior Design Ideas  ...                    NaN
7                        Houzz Interior Design Ideas  ...                    NaN
8                        Houzz Interior Design Ideas  ...                    NaN
9                        Houzz Interior Design Ideas  ...                    NaN

[10 rows x 17 columns]

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75136 entries, 0 to 64294
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   App                     75136 non-null  object
 1   Category                10841 non-null  object
 2   Rating                  9367 non-null   float64
 3   Reviews                 10841 non-null  object
 4   Size                    10841 non-null  object
 5   Installs                10841 non-null  object
 6   Type                    10840 non-null  object
 7   Price                   10841 non-null  object
 8   Content Rating          10840 non-null  object
 9   Genres                  10841 non-null  object
 10  Last Updated            10841 non-null  object
 11  Current Ver             10833 non-null  object
 12  Android Ver             10838 non-null  object
 13  Translated_Review       37427 non-null  object
 14  Sentiment               37432 non-null  object
 15  Sentiment_Polarity      37432 non-null  float64
 16  Sentiment_Subjectivity  37432 non-null  float64
dtypes: float64(3), object(14)
memory usage: 10.3+ MB

# **2. Cleaning Data**

In [ ]:
merged_df.isnull()

         App  Category  ...  Sentiment_Polarity  Sentiment_Subjectivity
0      False     False  ...                True                    True
1      False     False  ...                True                    True
2      False     False  ...                True                    True
3      False     False  ...                True                    True
4      False     False  ...                True                    True
...      ...       ...  ...                 ...                     ...
64290  False      True  ...                True                    True
64291  False      True  ...                True                    True
64292  False      True  ...                True                    True
64293  False      True  ...                True                    True
64294  False      True  ...                True                    True

[75136 rows x 17 columns]

In [ ]:
merged_df.isnull().sum()

App                           0
Category                  64295
Rating                    65769
Reviews                   64295
Size                      64295
Installs                  64295
Type                      64296
Price                     64295
Content Rating            64296
Genres                    64295
Last Updated              64295
Current Ver               64303
Android Ver               64298
Translated_Review         37709
Sentiment                 37704
Sentiment_Polarity        37704
Sentiment_Subjectivity    37704
dtype: int64

In [ ]:
merged_df[merged_df.Rating>5]

                                           App  ... Sentiment_Subjectivity
10472  Life Made WI-Fi Touchscreen Photo Frame  ...                    NaN

[1 rows x 17 columns]

SyntaxError: ignored